torch >= 1.2.0
torchvision
cython >= 0.29.14
pycocotools >= 2.0.0
numpy >= 1.17
requests >= 2.22.0
pandas >= 0.24.2
pytest >= 4.3.1
scikit-image >= 0.14.2
scikit-learn >=  0.20.3
mock >= 3.0.5
tqdm >= 4.37.0